 /* Color palette */
 .body-theme-1 {
     background: #3a4764;
     color: white;
 }

 .btn-theme-1 {
     background: #eae3dc;
     color: #444b5a;
     box-shadow: 0 5px #b4a597;
 }


 .btn-del-theme-1 {
     background: #637097;
     box-shadow: 0 5px #404e72;
 }

 .display-theme-1 {
     background: #182034;
 }


 .btn-container-theme-1 {
     background: #232c43;
 }


 .btn-reset-theme-1 {
     background: #d03f2f;
     color: white;
     box-shadow: 0 5px #93261a;
 }


 /* Slider for Theme 1 */


 .slider-theme-1::-webkit-slider-runnable-track {
     background: #232c43;
 }

 .slider-theme-1::-webkit-slider-thumb {
     background: #d03f2f;
     margin-left: 5px;
 }



 .slider-theme-1::-moz-range-track {
     background: #232c43;
 }

 .slider-theme-1::-moz-range-thumb {
     background: #d03f2f;
     border: 5px solid #232c43;
 }