input {
    -webkit-appearance: none;
    background: transparent;
    width: 70px;
    margin: 0;
  }
  
  /* Google Chrome */
  
  input::-webkit-slider-runnable-track {
    cursor: pointer;
    border-radius: 13px;
    height: 26px;
  }
  
  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    margin-top: 5px;
  }
  
  /* Firefox */
  
  input::-moz-range-track {
    cursor: pointer;
    border-radius: 13px;
    height: 26px;
  }
  
  input::-moz-range-thumb {
    cursor: pointer;
    border-radius: 50%;
    width: 16px;
    height: 16px;
  }
  
  /* Theme 1 */
  
  .slider-theme-1::-webkit-slider-runnable-track {
    background: #232c43;
  }
  
  .slider-theme-1::-webkit-slider-thumb {
    background: #d03f2f;
    margin-left: 5px;
  }
  
  .slider-theme-1::-moz-range-track {
    background: #232c43;
  }
  
  .slider-theme-1::-moz-range-thumb {
    background: #d03f2f;
    border: 5px solid #232c43;
  }
  
  /* Theme 2 */
  
  .slider-theme-2::-webkit-slider-runnable-track {
    background: #d1cccc;
  }
  
  .slider-theme-2::-webkit-slider-thumb {
    background: #ca5502;
  }
  
  .slider-theme-2::-moz-range-track {
    background: #d1cccc;
  }
  
  .slider-theme-2::-moz-range-thumb {
    background: #ca5502;
    border: 0;
  }
  
  /* Theme 3 */
  
  .slider-theme-3::-webkit-slider-runnable-track {
    background: #1d0934;
  }
  
  .slider-theme-3::-webkit-slider-thumb {
    background: #00e0d1;
    margin-left: -5px;
  }
  
  .slider-theme-3::-moz-range-track {
    background: #1d0934;
  }
  
  .slider-theme-3::-moz-range-thumb {
    background: #00e0d1;
    border: 5px solid #1d0934;
  }
  