body {
    font-family: 'Spartan', sans-serif;
    padding: 7% 0;
    margin: 0;
  }
  header {
    width: 87%;
    max-width: 535px;
    margin: 0 auto;
  
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
ol {
    list-style-type: none;
    font-size: 15px;
    padding: 0 5px;
    margin: 0;
  
    display: flex;
    justify-content: space-between;
  
    grid-column: 2 / 3;
  }
  
  li {
    width: 16px;
    text-align: center;
  }
  
  label {
    font-size: 15px;
    padding-top: 6px;
  }
  button {
    border-radius: 10px;
    font-family: 'Spartan', sans-serif;
    height: 60px;
    border: 0;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  header p {
    font-size: 32px;
    margin: 0;
  }
  .btn {
    font-size: 32px;
  }

  .btn-reset {
    color: white;
    font-size: 21px;
  }

  .theme-container {
    display: grid;
    grid-template-columns: max-content 70px;
    gap: 5px 20px;
  }
  .display {
    border-radius: 10px;
    font-size: 48px;
    box-sizing: border-box;
    width: 87%;
    max-width: 535px;
    height: min(23vw, 125px);
    padding: 0 35px;
    margin: 30px auto 25px;
  
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .section-center {
    overflow-x: auto;
    white-space: nowrap;
  }
  .btn-container{
    border-radius: 10px;
    box-sizing: border-box;
    width: 87%;
    max-width: 535px;
    padding: 30px 30px 35px;
    margin: 0 auto;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: min(calc(3vw + 5px), calc(25px + 5px)) min(3vw, 25px);
  }

  .btn-reset {
    grid-column: 1 / 3;
  }
  
  .btn-return {
    font-size: 15px;
  
    grid-column: 3 / 5;
  }
  
 
